html{
	font-family: Tahoma, Geneva, sans-serif !important;

}

body{
	padding: 0;
	margin: 0;		
}

@media only screen and (min-width: 1024px){
	#loader{
		display: none;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		overflow: hidden;
		position: fixed;
		z-index: 99999;
		background-color: #e5eff1;
		opacity: 0.9;	
		text-align: center;
		padding-top: 15%;		
	}	
	
	#loader img{
		width: 15%;
	}
	/*************************************************************************/
	/*******************************   HEADER ********************************/
	/*************************************************************************/
	#header{
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: #FFFFFF;
		height: 160px;
		position: relative;
		top: 0;
	}
	
	#header #header-content{
		max-width: 1300px;
		float: none;
		margin: 0 auto;		
	}
	.icon-nav{
		display: none;	
	}		
	.logo{
		display: inline-block;
		float:left;
		width: 25%;
		height: 100%;
		/*background-color: green;*/
	}
	.logo img{
		width: 100%;
		height: auto;	
		max-height: 150px;
		padding-left: 10px;
	} 
	
	/**********************************/
	/*************NAV OSPITE***********/
	/**********************************/
	.nav-ospite{
		display: inline-block;
		float:left;
		width: 70%;
		min-height: 100%;
		/*background-color: blue;*/
	}

	.nav-ospite .parte-mobile{
		display: none;
	}
	
	.nav-ospite .parte-top{
		width: 100%;
		float:right;
		padding: 0;
		margin: 0;	
		margin-top: 10px;	
	}
	
	.nav-ospite .parte-top li{
		width: 10%;
		float: right;
		display: inline-block;	

		border: 1px solid green;
		border-radius: 15px;
		text-align: center;
		line-height: 40px;
		font-weight: bold;		
	}
	
	.nav-ospite .parte{
		width: 100%;
		padding-top: 48px;
	}
	
	.nav-ospite .parte li{
		width: 20%;
		float: left;
		display: inline-block;
		margin-left: 20px;
		
		border: 1px solid green;
		border-radius: 15px;
		text-align: center;
		line-height: 40px;
		font-weight: bold;		
	}
	.nav-ospite .parte li a{
		text-decoration: none;
		color: green;
	}
	.nav-ospite .parte-top li a{
		text-decoration: none;
		color: green;
	}
	
	.nav-ospite .parte li .parte-figlio{
		display: none;	
	    width:250px;
	    height:250px;
		background-color: green;
		border: 3px solid #FFF;
	    border-radius: 15px;
	    margin-top: 20px;
	    padding: 10px;
	    position: fixed;    
	    z-index: 1000;
	    margin-left: 2%;
	}
	
	.nav-ospite .parte li .parte-figlio li{
		width: 100%;
		color: #FFF;
		font-weight: bold;
		border: 0px solid;
		padding: 0;
		text-align: left;
	}
	
	.nav-ospite .parte li .parte-figlio li a{
		color: #FFF;
		font-weight: bold;
	}	
	
	/**********************************/
	/*************NAV ADMIN***********/
	/**********************************/
	.nav-admin{
		display: inline-block;
		float:left;
		width: 70%;
		min-height: 100%;
		/*background-color: blue;*/
	}

	.nav-admin .parte-mobile{
		display: none;
	}
	
	.nav-admin .parte-top{
		width: 100%;
		float:right;
		padding: 0;
		margin: 0;	
		margin-top: 10px;	
	}
	
	.nav-admin .parte-top li{
		width: 10%;
		float: right;
		display: inline-block;	

		border: 1px solid #ffcc00;
		border-radius: 15px;
		text-align: center;
		line-height: 40px;
		font-weight: bold;		
	}
	
	.nav-admin .parte{
		width: 100%;
		padding-top: 48px;
	}
	
	.nav-admin .parte li{
		width: 14%;
		float: left;
		display: inline-block;
		margin-left: 10px;
		
		border: solid 1px #ffcc00;
		border-radius: 15px;
		text-align: center;
		line-height: 40px;
		font-weight: bold;		
	}
	.nav-admin .parte li a{
		text-decoration: none;
		color: white;
		font-size: 94%;
	}
	.nav-admin .parte-top li a{
		text-decoration: none;
		color: white;
	}
	
	.nav-admin .parte li .parte-figlio{
		display: none;	
	    width:250px;
	    height:250px;
		background-color: #276274;
		border: solid 3px #FFF;
	    border-radius: 15px;
	    margin-top: 20px;
	    padding: 10px;
	    position: fixed;    
	    z-index: 1000;
	    margin-left: 2%;
	}
	
	.nav-admin .parte li .parte-figlio li{
		width: 100%;
		color: #FFF;
		font-weight: bold;
		border: solid 0px;
		padding: 0;
		text-align: left;
	}
	
	.nav-admin .parte li .parte-figlio li a{
		color: #FFF;
		font-weight: bold;
	}
	
	
	/**********************************/
	/*************NAV UTENTE***********/
	/**********************************/
	.nav-utente{
		display: inline-block;
		float:left;
		width: 70%;
		min-height: 100%;
		/*background-color: blue;*/
	}

	.nav-utente .parte-mobile{
		display: none;
	}
	
	.nav-utente .parte-top{
		width: 100%;
		float:right;
		padding: 0;
		margin: 0;	
		margin-top: 10px;	
	}
	
	.nav-utente .parte-top li{
		width: 15%;
		float: right;
		display: inline-block;	

		border: solid 1px #ffcc00;
		border-radius: 15px;
		text-align: center;
		line-height: 40px;
		font-weight: bold;		
	}
	
	.nav-utente .parte{
		width: 100%;
		padding-top: 48px;
	}
	
	.nav-utente .parte li{
		width: 14%;
		float: left;
		display: inline-block;
		margin-left: 14px;
		
		border: solid 1px #ffcc00;
		border-radius: 15px;
		text-align: center;
		line-height: 40px;
		font-weight: bold;		
	}
	.nav-utente .parte li a{
		text-decoration: none;
		color: white;
	}
	
	.nav-utente .parte li a .numeroProdottiCarrello{
		display: inline;
		color: #ffcc00;
		font-weight: normal;
	}	
	
	.nav-utente .parte-top li a{
		text-decoration: none;
		color: white;
	}
	
	.nav-utente .parte li .parte-figlio{
		display: none;	
	    width:250px;
	    height:250px;
		background-color: #276274;
		border: solid 3px #FFF;
	    border-radius: 15px;
	    margin-top: 20px;
	    padding: 10px;
	    position: fixed;    
	    z-index: 1000;
	    margin-left: 2%;
	}
	
	.nav-utente .parte li .parte-figlio li{
		width: 100%;
		color: #FFF;
		font-weight: bold;
		border: solid 0px;
		padding: 0;
		text-align: left;
	}
	
	.nav-utente .parte li .parte-figlio li a{
		color: #FFF;
		font-weight: bold;
	}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/*************************************************************************/
	/*******************************  CONTENT ********************************/
	/*************************************************************************/
	#content{
		margin: 0;
		padding: 0;
		width: 95%;
		min-height: 600px;
		position: relative;
		
		max-width: 1300px;
		float: none;
		margin: 0 auto;		
		
		padding-left: 2.5%;
		padding-right: 2.5%;				
	}
	
	#content #content-content{
		max-width: 1300px;
		float: none;
		margin: 0 auto;		
		margin-bottom: 20px;
	}
	
	#content .left{
		display: inline-block;
		float:left;
		width: 50%;
		height: 100%;
		padding-top: 10px;
	}
	#content .left .product{
		width: 30%;
		display: inline-block;	
		margin-bottom: 3.3%;
		border: solid 1px #FFF;
		cursor: pointer;
	}
	
	#content .left .product:hover{
		border: solid 1px #777;
		border-radius: 5px;
	}
	#content .left .product .product-image{
		height: 150px;		
		padding: 10px;
		background-color: #eee; 
		border-radius: 5px;
	}
	#content .left .product .product-image img{
		width: 100%;
		height: auto;
		max-height: 150px;
		vertical-align: top; 	
	}
	#content .left .product .product-title{
		height: 25px;
		text-align: center;
		padding-top: 5px;
	}
	#content .left .product:hover .product-title{
		background-color: #276274;	
		color: #FFF;	
	}
	#content .left .product .product-price{	
		height: 25px;
		text-align: center;
		font-weight: bold;	
		color: #276274;
	}
	#content .left .product .product-button{	
		visibility: hidden;
		height: 40px;
		text-align: center;
		background-color: #ffcc00;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;	
	}
	#content .left .product:hover .product-button{
		visibility: visible;	
	}
	#content .left .product .product-button a{
		line-height: 36px;
		color: #fff;
		text-decoration: none;	
	}
	#content .left .product:hover .product-button a{
		color: #276274;
	}
	
	#content .right{
		display: inline-block;
		float:left;
		width: 50%;
		height: 100%;
		padding-top: 10px;
	}
	#content .right .top-picture{
		display: inline-block;
		width: 100%;	
	}
	#content .right .top-picture img{
		width: 100%;
		height: auto;
		border-radius: 15px;
	}
	#content .right .bottom-content{
		display: inline-block;
		height: 50%;
		width: 100%;
		text-align: center;
	}
	#content .right .bottom-content h2{	
		color: #ffcc00;
		display: inline-block;
	}
	#content .right .bottom-content h2:first-child{
		color: #276274;
	}
	#content .right .bottom-content p{
		margin-top: -10px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/*************************************************************************/
	/*******************************  FOOTER  ********************************/
	/*************************************************************************/
	#footer{
		margin: 0;
		padding: 0;
		width: 100%;
		height:200px;
		background-color: green;
		overflow: hidden;
		bottom: 0;
		
	}
	
	#footer #footer-content{
		max-width: 1300px;
		float: none;
		margin: 0 auto;		
	}
	
	
	




	/************************************************************/
	/***********************PAGINA ACCEDI************************/
	/************************************************************/	
	#content #content-content #formAccedi{
		border: solid 2px #276274;		
		border-radius: 15px;	
		padding: 10px;	
		
		width: 50%;		
		float: none;		
		margin: 0 auto;		
	}	
	
	#content #content-content #formAccedi .campoForm{
		width: 100%;
	}		

	#content #content-content #formAccedi .submitForm{		
		margin-top: 15px;
		height: 40px;		
		background-color: #ffcc00;		
		border: 0;		
		color: #276274;
		font-weight: bold;
		cursor: pointer;			
	}
	

	/************************************************************/
	/***********************PAGINA CONTATTACI********************/
	/************************************************************/	
	
	#content #content-content #formContattaci{
		border: solid 2px #276274;		
		border-radius: 15px;	
		padding: 10px;	
		
		width: 50%;		
		float: none;		
		margin: 0 auto;		
	}	
	#content #content-content #formContattaci .campoForm{
		width: 100%;
	}
	#content #content-content #formContattaci .submitForm{		
		margin-top: 15px;
		height: 40px;		
		background-color: #ffcc00;		
		border: 0;		
		color: #276274;
		font-weight: bold;
		cursor: pointer;			
	}
	#content #content-content #formContattaci  #messaggio.campoForm{
		resize: none;
	}
	
	
	
	/************************************************************/
	/***********************PAGINA CHI SIAMO*********************/
	/************************************************************/	
	#content p{
		font-family: verdana, sans-serif;
		font-size: 20px;;
		text-align: center;
	}
	#content #prodotti{
	display: inline-block;
    float: left;
    width: 100%;
    height: 100%;
    padding-top: 10px;
			
	}	
	#content #prodotti h1{
	font-family: verdana, sans-serif;
	font-size: 40px;
	color:green;
	
	}
	#content #prodotti > img{
		float:left;
		width: 30%;
		padding: 4%;
	}
	
	#content #prodotti p{
		font-size: 20px;
		text-align: center;
		padding-left: 38%;
		position:absolute;
		top: 155px;
	}
	#content #stagionatura{
	display: inline-block;
    float: left;
    width: 100%;
    height: 100%;
    padding-top: 10px;;
			
	}	
	
	#content #stagionatura h1{
	font-family: verdana, sans-serif;
	font-size: 40px;
	color:#276274;
	text-align: right;
			
	}	
	
	#content #stagionatura > img{
		float:right;
		width: 30%;
		display: inline-block;
	}
	
		#content #stagionatura p{
			padding-top:50px;
			font-size: 20px;
			text-align: left;
		}
	
	
	
	/************************************************************/
	/*********************** DOVE SIAMO *************************/
	/************************************************************/	
	
	#content #content-content #information-title h1{
		font-family: verdana, sans-serif;
		font-size: 40px;
		color:#276274;
		text-align: center;
	}
	
	#content #content-content #googleMap {
  		align-content:center;
  		frameborder: 0px;
  	 	allowfullscreen;
  	 	float: left;
  	 	display: inline-block;
  	 	padding-bottom: 10px;
  	 	margin-right: 20px;
	}
	 #content #content-content #googleMap > iframe {
	 	width: 700px;
  		height: 500px;
		border: 0px;
	}
	
	#content #content-content #information-info .info_market{
		list-style-type: none;
		padding-left: 15px;
	}
	
	#content #content-content #information-info .info_market li{
		height: 40px;
		color: #000;				
	}
	
	#content #content-content #information-info .info_market li span a{
		color:#000;
		text-decoration: none;
	}
	
	#content #content-content #information-info .info_market li span a:hover{
		color:#d3d3d3;
	}
	#content #content-content #information-info .info_market li i{
		width: 35px;
		font-size: 30px;
	
	}
	#content #content-content #information-info .info_market li i.fa-map-marker-alt{
		color:#ff4c4c;
	}
	
	#content #content-content #information-info .info_market li i.fa-phone{
		color:#00cc00;
		
	}
	


	/************************************************************/
	/*********************** Private Policy *************************/
	/************************************************************/
		
	#content #content-content h1 {
		font-family: verdana, sans-serif;
			font-size: 34px;
			color:#276274;
			text-align: center;
		
		
	}
	
	#content #content-content p{
		text-align: center;
	    font-size: 16px;
	}
	
	
	
	/************************************************************/
	/***********************PAGINE ADMIN************************/
	/************************************************************/	
	#content #content-content .adminTitoloPagina{
		font-size: 30px;
		font-weight: bold;
		color: #276274;
	}	
	
	#content #content-content .adminTitoloPagina span{
		display: block;
		font-size: 16px;		
	}
	
	#content #content-content .adminTitoloPagina span a{	
		color: #ffcc00;
		margin-top: 8px;
		text-decoration: none;	
	}	

	#content #content-content .dataTables_wrapper{
		border: solid 1px #ffcc00;
		border-radius: 5px;
		padding: 10px;
		color: #276274;
		overflow-x: auto;
	}
	
	#content #content-content .dataTables_wrapper .dataTables_length, #content #content-content .dataTables_wrapper .dataTables_filter, #content #content-content .dataTables_wrapper .dataTables_info, #content #content-content .dataTables_wrapper .dataTables_paginate{
		color: #000;
	}
	
	#content #content-content .dataTables_wrapper .dataTables_paginate .paginate_button{
		color: #000;			
	}
	 
	#content #content-content .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
		background-color: none;			
	}
	
	#content #content-content .adminBodyDataTable tr td, #content #content-content .adminHeadDataTable tr td, #content #content-content .userBodyDataTable tr td, #content #content-content .userHeadDataTable tr td{
		text-align: center;
	}
	
	#content #content-content .adminBodyDataTable tr td img, #content #content-content .userBodyDataTable tr td img{
		max-width: 60px;
		cursor: pointer;
	}
	
	#content #content-content .adminBodyDataTable tr td i.elimina{
		color: #DC483E;
	}

	#content #content-content .adminBodyDataTable tr td i.foto{
		color: #000;
	}

	#content #content-content .adminBodyDataTable tr td i.modificaQuantita{
		color: #000;
	}

	#content #content-content .adminBodyDataTable tr td i.modificaPrezzo{
		color: #000;
	}

	#content #content-content .adminBodyDataTable tr td i.visualizza.nonLetto{
		color: #DC483E;
	}

	#content #content-content .adminBodyDataTable tr td i.visualizza.letto{
		color: #00cc00;
	}
		
	#content #content-content .adminAggiungi{
		text-align: center;	
		margin-top: 10px;
	}
	
	#content #content-content .adminButtonAggiungi{
		background-color: #276274;
		border: 0;
		border-radius: 20px;	
		width: 80px;		
		height: 40px;		
		color: #FFF;
		font-size: 25px;
		cursor: pointer;
		margin-top: 40px;
	}
	
	#content #content-content .adminButtonAggiungi i.fa-plus{
		font-size: 25px;
		cursor: pointer;
	}
	
	#content #content-content .adminFormAggiungi{
		border: solid 1px #ffcc00;
		border-radius: 5px;
		margin-top: 10px;
		padding: 10px;
	}
	
	#content #content-content .adminFormAggiungi .adminFormField{
		border: 0;
		height: 30px;	
		border: solid 1px #276274;
		margin-left: 1%;	
	}
	
	#content #content-content .adminFormAggiungi .adminButtonConfermaAggiungi{	
		background-color: #276274;
		border: solid 1px #276274;
		height: 30px;		
		color: #FFF;
		text-transform: uppercase;		
		margin-left: 1%;
		width: 7%;	
		cursor: pointer;	
	}
	
	#content #content-content .adminFormAggiungi #nomeAliquota, #content #content-content .adminFormAggiungi #valoreAliquota{
		width: 44%;
	}
	
	#content #content-content .adminFormAggiungi #nomeCategoria{
		width: 90%;
	}

	#content #content-content .adminFormAggiungi #nomeUnita, #content #content-content .adminFormAggiungi #siglaUnita{
		width: 44%;
	}

	#content #content-content .adminFormAggiungi #daSconto, #content #content-content .adminFormAggiungi #aSconto{
		width: 12%;
	}
	
	#content #content-content .adminFormAggiungi #prezzoSconto{
		width: 7%;
	}	
	
	#content #content-content .adminFormAggiungi #prodottoSconto{
		width: 56%;
	}		
	
	
	
	
	#content #content-content .adminFormAggiungi #categoriaProdotto{
		width: 23%;
		margin-bottom: 20px;
	}		
	#content #content-content .adminFormAggiungi #nomeProdotto{
		width: 19%;
		margin-bottom: 20px;
	}	
	#content #content-content .adminFormAggiungi #descrizioneProdotto{
		width: 54%;
		margin-bottom: 20px;
	}
	#content #content-content .adminFormAggiungi #descrizioneAbbreviataProdotto{
		width: 46%;
	}
	#content #content-content .adminFormAggiungi #unitaProdotto, #content #content-content .adminFormAggiungi #aliquotaProdotto{
		width: 13%;
	}
	#content #content-content .adminFormAggiungi #quantitaProdotto, #content #content-content .adminFormAggiungi #prezzoProdotto{
		width: 7%;
	}
	
	
	
	#content #content-content .adminFormAggiungi #containerDefaultImmagine{	
		width: 100%;
		text-align: center;		
	}	
	#content #content-content .adminFormAggiungi #containerDefaultImmagine #defaultImmagine, #content #content-content .adminFormAggiungi #containerDefaultImmagine label{
		vertical-align: middle;
	}	
	#content #content-content .adminFormAggiungi #confirmAggiungiImmagine{
		margin-left: 47%;
	}	
	#content #content-content .adminFormAggiungi .dropzoneImmagineProdotto{
		min-height: 100px;
		background-color: #eee;
		margin-bottom: 20px;
		cursor: pointer;
		position: relative;
		padding: 15px;
	}	
	#content #content-content .adminFormAggiungi .dropzoneImmagineProdotto:after {
    	content: 'Sposta qui l\'immagine da caricare';
    	position: absolute;
    	top: 40%;
    	left: 42%;
    	width: 20%;
    	height: 5%;
	}		
	#content #content-content .adminFormAggiungi .dz-started.dropzoneImmagineProdotto:after {
		display: none;
	}	
	#content #content-content .adminFormAggiungi .dropzoneImmagineProdotto .dz-error-mark, #content #content-content .adminFormAggiungi .dropzoneImmagineProdotto .dz-error-message, #content #content-content .adminFormAggiungi .dropzoneImmagineProdotto .dz-success-mark{
		display: none;		
	}	
	#content #content-content .adminFormAggiungi .dropzoneImmagineProdotto .dz-remove{
		background-color: #DC483E;
		border: solid 1px #DC483E;
		height: 30px;		
		color: #FFF;
		text-transform: uppercase;		
		width: 7%;	
		cursor: pointer;
		text-decoration: none;
		font-size: 12px;
		padding: 5px;		
	}		
	#content #content-content .adminFormAggiungi .dropzoneImmagineProdotto .dz-image img{
		border-radius: 10px;
	}			
	#content #content-content .adminFormAggiungi #nomemetodoPagamento{	
		width: 30%;
    	margin-bottom: 20px;
	}	
	#content #content-content .adminFormAggiungi #descrizionemetodoPagamento{
		width: 54%;
		margin-bottom: 20px;
	}
	
	#modalContatti{
		display: none;
		height: 50%;
		width: 80%;
		left: 10%;
		top: 10%;
		overflow: hidden;
		position: fixed;
		z-index: 99999;
		background-color: #fff;
		opacity: 1;
		text-align: center;
		padding-top: 15%;
		border-radius: 20px;
		border: solid 4px #ffcc00;		
	}
	
	#modalContatti #modalContattiNav{
		position: absolute;
		left: 97%;
		width: 1%;
		top: 3%;
		cursor: pointer;
	}	
	#modalContatti #modalContattiBody{
		position: absolute;
		width: 100%;
		top: 5%;	
	}	
	#modalContatti #modalContattiBody h2{
		color: #276274;
	}
	#modalContatti #modalContattiBody textarea{	
		width: 95%;
		border: solid 1px #276274;
		border-radius: 15px;
		padding: 15px;
		height: 250px;
		margin-top: 20px;
	}
	
	#modalContatti #modalContattiBody .fieldContatto{
		width: 30%;
		display: inline;
		margin-left: 5%;
	}
	
	#content #content-content .adminFormAggiungi #nomeVettore{	
		width: 30%;    	
	}	
	#content #content-content .adminFormAggiungi #descrizioneVettore{
		width: 45%;		
	}
	#content #content-content .adminFormAggiungi #costoVettore{
		width: 8%;
	}
	#content #content-content .adminFormAggiungi #contrassegnoVettore{
		width: 4%;
	}
	
	
	#content #content-content .adminFormAggiungi #nomeStato{	
		width: 82%;    	
	}	
	#content #content-content .adminFormAggiungi #ordineAnnullabileStato{
		width: 3%;		
	}
	#content #content-content .adminFormAggiungi #primoStato{
		width: 3%;		
	}
	
	
	
	
	
	/************************************************************/
	/****************PAGINA IMPOSTAZIONI ADMIN  *****************/
	/************************************************************/	
	#content #content-content #formImpostazioniAdmin{
		border: solid 2px #276274;		
		border-radius: 15px;	
		padding: 10px;	
		
		width: 50%;		
		float: none;		
		margin: 0 auto;				
	}	
	
	#content #content-content #formImpostazioniAdmin .campoForm{
		width: 100%;
	}		

	#content #content-content #formImpostazioniAdmin .campoForm[readonly]{
		border: 0px;
	}		

	#content #content-content #formImpostazioniAdmin .submitForm{		
		width: 100%;
		margin-top: 15px;
		height: 40px;		
		background-color: #ffcc00;		
		border: 0;		
		color: #276274;
		font-weight: bold;
		cursor: pointer;			
	}		
	#content #content-content .userButtonRegistraAdmin, #content #content-content .userButtonDisattivaAdmin{	
		background-color: #276274;
		border: solid 1px #276274;
		height: 40px;		
		color: #FFF;
		text-transform: uppercase;				
		width: 20%;	
		cursor: pointer;
		margin-top: 10px;
	}
	
	
	
	/************************************************************/
	/****************PAGINA IMPOSTAZIONI USER  *****************/
	/************************************************************/	
	#content #content-content #formImpostazioniUser{
		border: solid 2px #276274;		
		border-radius: 15px;	
		padding: 10px;			
		width: 50%;		
		float: none;		
		margin: 0 auto;		
	}	
	
	#content #content-content #formImpostazioniUser .campoForm{
		width: 100%;
	}		

	#content #content-content #formImpostazioniUser .campoForm[readonly]{
		border: 0px;
	}		

	#content #content-content #formImpostazioniUser .submitForm{		
		width: 100%;
		margin-top: 15px;
		height: 40px;		
		background-color: #ffcc00;		
		border: 0;		
		color: #276274;
		font-weight: bold;
		cursor: pointer;			
	}	
	
	#content #content-content .formIndirizzo{
		border: solid 2px #276274;		
		border-radius: 15px;	
		padding: 10px;			
		width: 20%;		
		float: left;		
		margin-top: 20px;
		margin-bottom: 20px;
		display: block;
		margin-left: 2%;
		height: 285px;		
	}	
	
	#content #content-content .formIndirizzo .campoForm{
		width: 100%;
	}		

	#content #content-content .formIndirizzo .submitForm{		
		width: 100%;
		margin-top: 15px;
		height: 40px;		
		background-color: #ffcc00;		
		border: 0;		
		color: #276274;
		font-weight: bold;
		cursor: pointer;			
	}	
	
	#content #content-content .formIndirizzo .eliminaIndirizzo{		
		color: #DC483E;
		cursor: pointer;
	}				
	
	#content #content-content .addIndirizzo{
		display: table;
	}
	
	#content #content-content .formIndirizzo .aggiungiIndirizzo{		
		display: table-cell;
		color: #00cc00;
		cursor: pointer;
		width: 100%;	
		height: 100%;		
		text-align: center;		
		font-size: 50px;			
		vertical-align: middle;			
	}					
	
	#content #content-content .formIndirizzo p{
		overflow-y: auto;
	}

	#content #content-content .formIndirizzo .note{
		height: 40px;
	}		
	
	#content #content-content .formIndirizzo .nomeCognome, #content #content-content .formIndirizzo .indirizzo, #content #content-content .formIndirizzo .capCittaProvincia, #content #content-content .formIndirizzo .telefono, #content #content-content .formIndirizzo .cellulare{
		height: 25px;
	}		
	
	#content #content-content .userFormAggiungi{
		border: solid 1px #ffcc00;
		border-radius: 5px;
		margin-top: 10px;
		padding: 10px;
	}
	
	#content #content-content .userFormAggiungi .adminFormField{
		border: 0;
		height: 30px;	
		border: solid 1px #276274;
		margin-left: 1%;	
	}
	
	#content #content-content .userFormAggiungi .adminButtonConfermaAggiungi{	
		background-color: #276274;
		border: solid 1px #276274;
		height: 30px;		
		color: #FFF;
		text-transform: uppercase;		
		margin-left: 1%;
		width: 7%;	
		cursor: pointer;	
	}
	
	#content #content-content .userFormAggiungi #nomeIndirizzo, #content #content-content .userFormAggiungi #cognomeIndirizzo{
		width: 20%;
	}
	
	#content #content-content .userFormAggiungi #indirizzoIndirizzo{
		width: 55%;
	}
	
	#content #content-content .userFormAggiungi #capIndirizzo{
		width: 7.3%;
		margin-top: 10px;
	}
	
	#content #content-content .userFormAggiungi #cittaIndirizzo, #content #content-content .userFormAggiungi #provinciaIndirizzo{
		width: 31%;
	}
	
	#content #content-content .userFormAggiungi #telefonoIndirizzo, #content #content-content .userFormAggiungi #cellulareIndirizzo{
		width: 12%;
	}
	
	#content #content-content .userFormAggiungi #noteIndirizzo{
		width: 97.7%;
		height: 70px;		
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	#content #content-content .userFormAggiungi #confirmAggiungiIndirizzo{
		margin-left: 43%;
	}
	



	/************************************************************/
	/****************PAGINA CATEGORIA PRODOTTO  *****************/
	/************************************************************/	
	#content .categoriaProdotto{
		margin-top: 20px;
	}
	#content .categoriaProdotto .product{
		width: 30%;
		display: inline-block;	
		margin-bottom: 3.3%;
		border: solid 1px #FFF;
		cursor: pointer;
	}
	
	#content .categoriaProdotto .product:hover{
		border: solid 1px #777;
		border-radius: 5px;
	}
	#content .categoriaProdotto .product .product-image{
		height: 230px;		
		padding: 10px;
		background-color: #eee; 
		border-radius: 5px;
	}
	#content .categoriaProdotto .product .product-image img{
		width: 100%;
		height: auto;
		max-height: 230px;
		vertical-align: top; 	
	}
	#content .categoriaProdotto .product .product-title{
		height: 25px;
		text-align: center;
		padding-top: 5px;
	}
	#content .categoriaProdotto .product:hover .product-title{
		background-color: #276274;	
		color: #FFF;	
	}
	#content .categoriaProdotto .product .product-price{	
		height: 25px;
		text-align: center;
		font-weight: bold;	
		color: #276274;
	}
	#content .categoriaProdotto .product .product-button{	
		visibility: hidden;
		height: 40px;
		text-align: center;
		background-color: #ffcc00;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;	
	}
	#content .categoriaProdotto .product:hover .product-button{
		visibility: visible;	
	}
	#content .categoriaProdotto .product .product-button a{
		line-height: 36px;
		color: #fff;
		text-decoration: none;	
	}
	#content .categoriaProdotto .product:hover .product-button a{
		color: #276274;
	}




	/************************************************************/
	/**************** PAGINA CARRELLO PRODOTTO  *****************/
	/************************************************************/	
	#content #content-content #carrelloTable #bodyCarrello i.fa-minus{
		cursor: pointer; 		
		background-color:#eee; 
		border-radius: 15px;
		padding: 5px;	
		color: #DC483E;
	}
	#content #content-content #carrelloTable #bodyCarrello i.fa-plus{
		cursor: pointer; 		
		background-color:#eee; 
		border-radius: 15px;
		padding: 5px;	
		color: #00cc00;
	}
	
	#content #content-content .userButtonCheckout{	
		background-color: #276274;
		border: solid 1px #276274;
		height: 40px;		
		color: #FFF;
		text-transform: uppercase;				
		width: 20%;	
		cursor: pointer;
		margin-top: 30px;
		margin-left: 40%;	
	}

	
	
	/************************************************************/
	/**************** PAGINA DETTAGLIO PRODOTTO *****************/
	/************************************************************/	
	#content #content-content .dettaglioProdotto{
		margin-top: 10px;
	}
	#content #content-content .dettaglioProdotto .left, #content #content-content .dettaglioProdotto .right{
		padding: 1%;
		width: 48%;
	}	
	#content #content-content .dettaglioProdotto .left img{
		width: 30%;
		height: auto;
		margin-left: 2.5%;
		border-radius: 10px;
		max-height: 120px;		
		cursor: pointer;
	}
	#content #content-content .dettaglioProdotto .left img:first-child{
		width: 100%;
		height: auto;
		margin-left: 0;
		max-height: initial;
	}	
	#content #content-content .dettaglioProdotto .right .nomeProdotto{
		font-size: 30px;
		font-weight: bold;
		color: #276274;	
		text-align: left;
		margin: 0;		
	}
	#content #content-content .dettaglioProdotto .right .categoriaProdotto{
		font-size: 12px;
		font-weight: bold;
		color: #276274;	
		text-align: left;
		margin: 0;		
	}
	#content #content-content .dettaglioProdotto .right .prezzoProdotto{
		text-align: left;	
	}
	#content #content-content .dettaglioProdotto .right .descrizioneAbbreviataProdotto{
		text-align: left;
		height: 120px;	
		overflow-y: auto;
	}
	#content #content-content .dettaglioProdotto .right .descrizioneProdotto{
		text-align: left;
		height: 300px;	
		overflow-y: auto;
	}
	#content #content-content .userButtonAggiungiAlCarrello{	
		background-color: #276274;
		border: solid 1px #276274;
		height: 40px;		
		color: #FFF;
		text-transform: uppercase;				
		width: 20%;	
		cursor: pointer;
	}
	
	#modalImmagini{
		display: none;
		height: 50%;
		width: 80%;
		left: 10%;
		top: 10%;
		overflow: hidden;
		position: fixed;
		z-index: 99999;
		background-color: #fff;
		opacity: 1;
		text-align: center;
		padding-top: 15%;
		border-radius: 20px;
		border: solid 4px #ffcc00;		
	}
	
	#modalImmagini #modalImmaginiNav{
		position: absolute;
		left: 97%;
		width: 1%;
		top: 3%;
		cursor: pointer;
	}	
	#modalImmagini #modalImmaginiBody{
		position: absolute;
		width: 100%;
		top: 5%;	
	}		
	#modalImmagini #modalImmaginiBody img{
		max-width: 85%;
		margin-top: 2%;
	}


	/************************************************************/
	/******************* PAGINA REGISTRATI  *********************/
	/************************************************************/	
	#content #content-content .userButtonRegistrati{	
		background-color: #276274;
		border: solid 1px #276274;
		height: 40px;		
		color: #FFF;
		text-transform: uppercase;				
		width: 20%;	
		cursor: pointer;
		margin-top: 10px;
	}
	#content #content-content #formRegistrati{
		border: solid 2px #276274;		
		border-radius: 15px;	
		padding: 10px;	
		
		width: 50%;		
		float: none;		
		margin: 0 auto;		
	}	
	
	#content #content-content #formRegistrati .campoForm{
		width: 100%;
	}		

	#content #content-content #formRegistrati .submitForm{		
		margin-top: 15px;
		height: 40px;		
		background-color: #ffcc00;		
		border: 0;		
		color: #276274;
		font-weight: bold;
		cursor: pointer;			
	}	
	

	/************************************************************/
	/*******************   PAGINA CHECKOUT  *********************/
	/************************************************************/			
	#content #content-content #checkoutPage #userButtonConcludiOrdine{	
		background-color: #276274;
		border: solid 1px #276274;
		height: 40px;		
		color: #FFF;
		text-transform: uppercase;				
		width: 20%;	
		cursor: pointer;
		margin-top: 30px;
		margin-left: 40%;	
	}	
	#content #content-content #checkoutPage .left, #content #content-content #checkoutPage .right{
		width: 48%;
		padding: 1%;
	}
	#content #content-content #checkoutPage .left p, #content #content-content #checkoutPage .right p{
		color: #276274;		
	}
	#content #content-content #checkoutPage .left p:first-child, #content #content-content #checkoutPage .right p:first-child{
		font-weight: bold;	
	}
	#content #content-content #checkoutPage #checkoutTable{
		margin-bottom: 20px;
	}	
	#content #content-content #checkoutPage .checkoutFormField{
		height: 30px;	
		border: solid 1px #276274;
		margin-left: 1%;	
	}	
	#content #content-content #checkoutPage #fatturazioneCheckout, #content #content-content #checkoutPage #spedizioneCheckout, #content #content-content #checkoutPage #vettoreCheckout, #content #content-content #checkoutPage #metodoPagamentoCheckout{
		width: 100%;
		height: 50px;
	}
	
	
	/************************************************************/
	/******************* PAGINA CONFERMA ORDINE  ****************/
	/************************************************************/			
	#content #content-content #confermaOrdinePage #userButtonConcludiOrdine{	
		background-color: #276274;
		border: solid 1px #276274;
		height: 40px;		
		color: #FFF;
		text-transform: uppercase;				
		width: 20%;	
		cursor: pointer;
		margin-top: 30px;
		margin-left: 40%;	
	}	
	#content #content-content #confermaOrdinePage .left, #content #content-content #confermaOrdinePage .right{
		width: 48%;
		padding: 1%;
	}
	#content #content-content #confermaOrdinePage p, #content #content-content #confermaOrdinePage p{
		color: #276274;		
	}
	#content #content-content #confermaOrdinePage .left p:first-child, #content #content-content #confermaOrdinePage .right p:first-child{
		font-weight: bold;	
	}
	#content #content-content #confermaOrdinePage #confermaOrdineTable{
		margin-bottom: 20px;
	}
	#content #content-content #confermaOrdinePage .checkoutFormField{
		height: 30px;	
		border: solid 1px #276274;
		margin-left: 1%;	
	}	
	#content #content-content #confermaOrdinePage #fatturazioneCheckout, #content #content-content #confermaOrdinePage #spedizioneCheckout, #content #content-content #confermaOrdinePage #vettoreCheckout, #content #content-content #confermaOrdinePage #metodoPagamentoCheckout{
		width: 100%;
		height: 50px;
	}


	/************************************************************/
	/*******************   PAGINA ORDINI USER    ****************/
	/************************************************************/			
	#content #content-content .userBodyDataTable tr td i.eliminaOrdine{
		color: #DC483E;
	}
	#content #content-content .userBodyDataTable tr td i.dettaglioOrdine{
		color: #000;
	}
	#modalDettaglioOrdine{
		display: none;
		height: 50%;
		width: 80%;
		left: 10%;
		top: 10%;
		overflow: hidden;
		position: fixed;
		z-index: 99999;
		background-color: #fff;
		opacity: 1;
		text-align: center;
		padding-top: 15%;
		border-radius: 20px;
		border: solid 4px #ffcc00;		
	}	
	#modalDettaglioOrdine #modalDettaglioOrdineNav{
		position: absolute;
		left: 97%;
		width: 1%;
		top: 3%;
		cursor: pointer;
	}	
	#modalDettaglioOrdine #modalDettaglioOrdineBody{
		position: absolute;
		width: 100%;
		top: 7%;
		overflow-x: auto;
		height: 90%;		
	}		
	#content #content-content #dettaglioOrdine .left, #content #content-content #dettaglioOrdine .right{
		width: 48%;
		padding: 1%;
	}
	#content #content-content #dettaglioOrdine p, #content #content-content #dettaglioOrdine p{
		color: #276274;		
	}
	#content #content-content #dettaglioOrdine .left p:first-child, #content #content-content #dettaglioOrdine .right p:first-child{
		font-weight: bold;	
	}
	#content #content-content #dettaglioOrdine p.totaleOrdine{
		color: #000;		
	}
	
	
	
	
	
	/************************************************************/
	/*******************   PAGINA ORDINI ADMIN    ****************/
	/************************************************************/			
	#content #content-content .adminBodyDataTable tr td i.eliminaOrdine{
		color: #DC483E;
	}
	#content #content-content .adminBodyDataTable tr td i.dettaglioOrdine, #content #content-content .adminBodyDataTable tr td i.modificaStatoOrdine{
		color: #000;
	}
	#modalDettaglioOrdine #modalDettaglioOrdineBody .adminFormField{
		border: 0;
		height: 30px;	
		border: solid 1px #276274;
		width: 35%;	
	}
	
	#modalDettaglioOrdine #modalDettaglioOrdineBody .adminButtonConfermaAggiungi{	
		background-color: #276274;
		border: solid 1px #276274;
		height: 30px;		
		color: #FFF;
		text-transform: uppercase;		
		width: 35%;	
		cursor: pointer;	
		margin-top: 20px;
	}

	
}	 
	