@media only screen and (max-width: 749px){
	#loader{
		display: none;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		overflow: hidden;
		position: fixed;
		z-index: 99999;
		background-color: #e5eff1;
		opacity: 0.9;	
		text-align: center;
		padding-top: 40%;		
	}
	
	#loader img{
		width: 45%;
	}
		
	/*************************************************************************/
	/*******************************   HEADER ********************************/
	/*************************************************************************/
	#header{
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: white;
		height: 140px;
		position: relative;
		top: 0;
		overflow: visible;
	}
	
	#header #header-content{
		width: 100%;
		float: none;
		margin: 0 auto;
		text-align: center;	
	}
	
	.logo{
		display: inline-block;
		width: 40%;
		height: 100%;
	}
	.logo img{
		width: 100%;
		height: auto;	
		max-height: 140px;
	} 
	
	.icon-nav{
		width: 20%;
		margin-top: -100px;
		margin-left: 85%;	
	}
	
	.icon-nav i{
		color: green;
		cursor: pointer;		
	}	
	
	/**********************************/
	/*************NAV OSPITE***********/
	/**********************************/
	.nav-ospite{
		display: none;
		position: absolute;
		left: 0;
		top: 0;		
		z-index: 1000;
		width: 100%;
		height: 100%;	
		margin-top: 140px;	
	}
	
	.nav-ospite .parte-top{
		display: none;
	}
	
	.nav-ospite .parte{
		display: none;
	}
	
	.nav-ospite .parte-mobile{
		display: block;
		background-color: green;
		margin: 0;
		padding: 1em;		
		list-style-type: none;	
		height: 100vh;	
	}
	
	.nav-ospite .parte-mobile li{
		width: 100%;
		text-align: left;
		color: #FFF;
		
		padding-left: 10px;
		line-height: 25px;		
	}
		
	.nav-ospite .parte-mobile li a{
		color: #FFF;
		text-decoration: none;
	}

	.nav-ospite .parte-mobile li .parte-mobile-figlio{
		list-style-type: none;		
	}
	
	/**********************************/
	/*************NAV ADMIN***********/
	/**********************************/
	.nav-admin{
		display: none;
		position: absolute;
		left: 0;
		top: 0;		
		z-index: 1000;
		width: 100%;
		height: 100%;	
		margin-top: 140px;	
	}
	
	.nav-admin .parte-top{
		display: none;
	}
	
	.nav-admin .parte{
		display: none;
	}
	
	.nav-admin .parte-mobile{
		display: block;
		background-color: green;
		margin: 0;
		padding: 1em;		
		list-style-type: none;	
		height: 100vh;	
	}
	
	.nav-admin .parte-mobile li{
		width: 100%;
		text-align: left;
		color: #FFF;
		
		padding-left: 10px;
		line-height: 25px;		
	}
		
	.nav-admin .parte-mobile li a{
		color: #FFF;
		text-decoration: none;
	}

	.nav-admin .parte-mobile li .parte-mobile-figlio{
		list-style-type: none;		
	}
	
	/**********************************/
	/*************NAV UTENTE***********/
	/**********************************/
	.nav-utente{
		display: none;
		position: absolute;
		left: 0;
		top: 0;		
		z-index: 1000;
		width: 100%;
		height: 100%;	
		margin-top: 140px;	
	}
	
	.nav-utente .parte-top{
		display: none;
	}
	
	.nav-utente .parte{
		display: none;
	}
	
	.nav-utente .parte-mobile{
		display: block;
		background-color: green;
		margin: 0;
		padding: 1em;		
		list-style-type: none;	
		height: 100vh;	
	}
	
	.nav-utente .parte-mobile li{
		width: 100%;
		text-align: left;
		color: #FFF;
		
		padding-left: 10px;
		line-height: 25px;		
	}
		
	.nav-utente .parte-mobile li a{
		color: #FFF;
		text-decoration: none;
	}
	
	.nav-utente .parte-mobile li a .numeroProdottiCarrello{
		display: inline;
		color: #ffcc00;
		font-weight: normal;
	}		

	.nav-utente .parte-mobile li .parte-mobile-figlio{
		list-style-type: none;		
	}

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/*************************************************************************/
	/*******************************  CONTENT ********************************/
	/*************************************************************************/
	#content{
		position: relative;
		margin: 0;
		padding: 0;
		width: 95%;
		padding: 2.5%;
		float: none;
		margin: 0 auto;
		min-height: 300px;			
	}
	
	#content #content-content{
		width: 100%;
		float: none;
		margin: 0 auto;		
	}
			
	#content .left{
		padding: 1%;
		padding-top: 10px;
		float: none;
		margin: 0 auto;
	}
	#content .left .product{
		width: 48%;
		display: inline-block;
		margin-bottom: 3.3%;
		border: solid 1px #777;
		border-radius: 5px;
		cursor: pointer;
		margin-left: 1%;
	}	
	
	#content .left .product:nth-of-type(1n+5){
		display: none;
	}
	
	#content .left .product .product-image{
		height: 120px;
		padding: 10px;
		background-color: #eee; 
		border-radius: 5px;
		overflow: hidden;
	}
	#content .left .product .product-image img{
		width: 100%;
		height: auto;
		max-height: 230px;
		vertical-align: top; 	
	}
	#content .left .product .product-title{
		height: 25px;
		text-align: center;
		padding-top: 5px;
		background-color: #276274;	
		color: #FFF;	
	}
	#content .left .product .product-price{	
		height: 25px;
		text-align: center;
		font-weight: bold;	
		color: #276274;
	}
	#content .left .product .product-button{	
		height: 40px;
		text-align: center;
		background-color: #ffcc00;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;	
		font-size: 12px;
	}

	#content .left .product .product-button a{
		line-height: 36px;
		color: #fff;
		text-decoration: none;	
		color: #276274;
		font-weight: bold;
	}

	#content .right{
		padding: 1%;
		padding-top: 1%;
		float: none;
		margin: 0 auto;
	}
	#content .right .top-picture{
		display: inline-block;
		width: 100%;	
	}
	#content .right .top-picture img{
		width: 100%;
		height: auto;
		border-radius: 15px;
	}
	#content .right .bottom-content{
		display: inline-block;
		height: 50%;
		width: 100%;
		text-align: center;
	}
	#content .right .bottom-content h2{	
		color: #ffcc00;
		display: inline-block;
	}
	#content .right .bottom-content h2:first-child{
		color: #276274;
	}
	#content .right .bottom-content p{
		margin-top: -10px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	/*************************************************************************/
	/*******************************  FOOTER  ********************************/
	/*************************************************************************/
	#footer{
		margin: 0;
		padding: 0;
		width: 100%;
		height:15%;
		background-color: green;
		overflow: hidden;
		bottom: 0;		
	}
	
	#footer #footer-content{
		width: 100%;
		float: none;
		margin: 0 auto;				
	}
	
	
	/*PRIMA COLONNA*/
	#footer .first-column{
		display: inline-block;
		float:left;
		width: 100%;		
	}
	#footer .first-column h2{
		font-size: 20px;
		color:#fff;
		padding-left: 10px;
	}
	
	#footer .first-column .info_market{
		list-style-type: none;
		padding-left: 15px;
	}
	
	#footer .first-column .info_market li{
		height: 25px;
		color: #fff;
		
		
	}
	#footer .first-column .info_market li span{
		font-size: 12px;		
	}
	
	#footer .first-column .info_market li span a{
		color:#fff;
		text-decoration: none;
	}
	
	#footer .first-column .info_market li span a:hover{
		color:#d3d3d3;
	}
	#footer .first-column .info_market li i{
		width: 25px;
		font-size: 20px;
	
	}
	#footer .first-column .info_market li i.fa-map-marker-alt{
		color:#ff4c4c;
	}
	
	#footer .first-column .info_market li i.fa-phone{
		color:#00cc00;
		
	}
	
	
	
	/* SECONDA COLONNA*/
	#footer .second-column{
		display: inline-block;
		float:left;
		width: 100%;
	}
	#footer .second-column h2{
		color:#fff;
		font-size: 20px;
		padding-left: 10px;
	}

	#footer .second-column .info  {
		padding-left: 10px;
	}
		
	#footer .second-column .info li{
		width: 50%;
		display: inline-block;	
	}
	
	#footer .second-column .info li a{
		text-decoration: none;
		color: #fff;
	}
	
	#footer .second-column .info li a:hover{
		color: #d3d3d3;
		text-decoration: none;
	}
	
	#footer .second-column .info li a span{
		font-size: 12px;
	}
	
	
	
	
	/************************************************************/
	/***********************PAGINA ACCEDI************************/
	/************************************************************/	
	#content #content-content #formAccedi{
		border: solid 2px green;		
		border-radius: 15px;	
		padding: 10px;	
	}	
	
	#content #content-content #formAccedi .campoForm{
		width: 100%;
	}		

	#content #content-content #formAccedi .submitForm{		
		margin-top: 15px;
		height: 40px;		
		background-color: green;		
		border: 0;		
		color: white;
		font-weight: bold;
		cursor: pointer;			
	}
	
	
	
	/************************************************************/
	/***********************PAGINA CHI SIAMO********************/
	/************************************************************/	
	
	
	#content p{
		font-family: verdana, sans-serif;
		font-size: 17px;
		text-align: center;
	}
	#content #prodotti{
	display: inline-block;
    float: left;
    width: 100%;
    height: 100%;
    padding-top: 10px;
			
	}	
	#content #prodotti h1{
	font-family: verdana, sans-serif;
	font-size: 30px;
	color: green;
	text-align: center;
	
	}
	#content #prodotti > img{
		width: 50%;
		padding: 5%;
		margin-left: 20%;
	}
	
	#content #prodotti p{
		font-size: 16px;
		text-align: inherit;
	}
	#content #stagionatura{
	display: inline-block;
    float: left;
    width: 100%;
    height: 100%;
    padding-top: 5px;
			
	}	
	
	#content #stagionatura h1{
	font-family: verdana, sans-serif;
	font-size: 30px;
	color:#276274;
	text-align: center;
			
	}	
	
	#content #stagionatura > img{
		width: 50%;
		display: inline-block;
		margin-left: 20%;
	}
	
		#content #stagionatura p{
			padding-top: 40px;
			font-size: 16px;
			text-align: left;
		}
	
	
	/************************************************************/
	/*********************** DOVE SIAMO *************************/
	/************************************************************/	
	
	#content #content-content #information-title h1{
		font-family: verdana, sans-serif;
		font-size: 40px;
		color:#276274;
		text-align: center;
	}
	
	#content #content-content #googleMap {
  		align-content:center;
  		frameborder: 0px;
  	 	allowfullscreen;
  	 	/*float: left;*/
  	 	display: inline-block;
  	 	padding-bottom: 10px;
  	 	margin-right: 20px;
  	 	width: 100%;
	}
	 #content #content-content #googleMap > iframe {
	 	width: 100%;
  		height: 400px;

	}
	
	#content #content-content #information-info .info_market{
		list-style-type: none;
		padding-left: 15px;
	}
	
	#content #content-content #information-info .info_market li{
		height: 40px;
		color: #000;				
	}
	
	#content #content-content #information-info .info_market li span a{
		color:#000;
		text-decoration: none;
	}
	
	#content #content-content #information-info .info_market li span a:hover{
		color:#d3d3d3;
	}
	#content #content-content #information-info .info_market li i{
		width: 35px;
		font-size: 20px;
	
	}
	#content #content-content #information-info .info_market li i.fa-map-marker-alt{
		color:#ff4c4c;
	}
	
	#content #content-content #information-info .info_market li i.fa-phone{
		color:#00cc00;
		
	}
	
	
	/************************************************************/
	/*********************** CONDIZIONI GENERALI *************************/
	/************************************************************/	
	
	#content #content-content #condizioni_generali h1 {
		font-family: verdana, sans-serif;
		font-size: 22px;
		color:#276274;
		text-align: center;
	
	
	}

	#content #content-content #condizioni_generali p{
		text-align: center;
    	font-size: 16px;
	}
	
	/************************************************************/
	/*********************** PRIVACY POLICY *************************/
	/************************************************************/	
	
	#content #content-content #privacy_policy h1{
		font-family: verdana, sans-serif;
		font-size: 22px;
		color:#276274;
		text-align: center;
	
	}
	
	#content #content-content #condizioni_generali p{
		text-align: center;
    	font-size: 16px;
	}
	
	
	
	/************************************************************/
	/***********************PAGINE ADMIN************************/
	/************************************************************/	
	#content #content-content .adminTitoloPagina{
		font-size: 23px;
		font-weight: bold;
		color: green;		
	}	
	
	#content #content-content .dataTables_wrapper{
		border: solid 1px green;
		border-radius: 5px;
		padding: 10px;
		color: black;
		overflow-x: auto;
	}
	
	#content #content-content .dataTables_wrapper .dataTables_length, #content #content-content .dataTables_wrapper .dataTables_filter, #content #content-content .dataTables_wrapper .dataTables_info, #content #content-content .dataTables_wrapper .dataTables_paginate{
		color: #000;
	}
	
	#content #content-content .dataTables_wrapper .dataTables_paginate .paginate_button{
		color: #000;			
	}
	 
	#content #content-content .dataTables_wrapper .dataTables_paginate .paginate_button:hover{
		background-color: none;			
	}
	
	#content #content-content .adminBodyDataTable tr td, #content #content-content .adminHeadDataTable tr td, #content #content-content .userBodyDataTable tr td, #content #content-content .userHeadDataTable tr td{
		text-align: center;
	}
	
	#content #content-content .adminBodyDataTable tr td img, #content #content-content .userBodyDataTable tr td img{
		max-width: 60px;
		cursor: pointer;
	}
	
	#content #content-content .adminBodyDataTable tr td i.elimina{
		color: #DC483E;
	}

	#content #content-content .adminBodyDataTable tr td i.foto{
		color: #000;
	}	
	
	#content #content-content .adminBodyDataTable tr td i.modificaQuantita{
		color: #000;
	}	
	
	#content #content-content .adminBodyDataTable tr td i.modificaPrezzo{
		color: #000;
	}	

	#content #content-content .adminBodyDataTable tr td i.visualizza.nonLetto{
		color: #DC483E;
	}

	#content #content-content .adminBodyDataTable tr td i.visualizza.letto{
		color: #00cc00;
	}	
		
	#content #content-content .adminAggiungi{
		text-align: center;	
		margin-top: 10px;
	}
	
	#content #content-content .adminButtonAggiungi{
		background-color: #276274;
		border: 0;
		border-radius: 20px;	
		width: 80px;		
		height: 40px;		
		color: #FFF;
		font-size: 25px;
		cursor: pointer;
		margin-top: 40px;
	}
	
	#content #content-content .adminButtonAggiungi i.fa-plus{
		font-size: 25px;
		cursor: pointer;
	}
	
	#content #content-content .adminFormAggiungi{
		border: solid 1px #ffcc00;
		border-radius: 5px;
		margin-top: 10px;
		padding: 10px;
	}
	
	#content #content-content .adminFormAggiungi .adminFormField{
		border: 0;
		height: 30px;	
		border: solid 1px #276274;
		margin-left: 0;	
		margin-top: 10px;
	}
	
	#content #content-content .adminFormAggiungi .adminButtonConfermaAggiungi{	
		background-color: #276274;
		border: solid 1px #276274;
		height: 30px;		
		color: #FFF;
		text-transform: uppercase;		
		margin-left: 0;
		width: 101%;	
		cursor: pointer;
		margin-top: 10px;	
	}
	
	#content #content-content .adminFormAggiungi #nomeAliquota, #content #content-content .adminFormAggiungi #valoreAliquota{
		width: 100%;
	}
	
	#content #content-content .adminFormAggiungi #nomeCategoria{
		width: 100%;
	}	
	
	#content #content-content .adminFormAggiungi #nomeUnita, #content #content-content .adminFormAggiungi #siglaUnita{
		width: 100%;
	}
	
	#content #content-content .adminFormAggiungi #daSconto, #content #content-content .adminFormAggiungi #aSconto, #content #content-content .adminFormAggiungi #prezzoSconto, #content #content-content .adminFormAggiungi #prodottoSconto{
		width: 100%;
	}
	
	#content #content-content .adminFormAggiungi #categoriaProdotto, #content #content-content .adminFormAggiungi #nomeProdotto, #content #content-content .adminFormAggiungi #descrizioneProdotto, #content #content-content .adminFormAggiungi #descrizioneAbbreviataProdotto, #content #content-content .adminFormAggiungi #unitaProdotto, #content #content-content .adminFormAggiungi #aliquotaProdotto, #content #content-content .adminFormAggiungi #quantitaProdotto, #content #content-content .adminFormAggiungi #prezzoProdotto{
		width: 100%;
	}		
	
	
	
	
	#content #content-content .adminFormAggiungi #containerDefaultImmagine{	
		width: 100%;
		text-align: center;		
	}	
	#content #content-content .adminFormAggiungi #containerDefaultImmagine #defaultImmagine, #content #content-content .adminFormAggiungi #containerDefaultImmagine label{
		vertical-align: middle;
	}	
	#content #content-content .adminFormAggiungi #confirmAggiungiImmagine{
		margin-left: 0;
	}	
	#content #content-content .adminFormAggiungi .dropzoneImmagineProdotto{
		min-height: 100px;
		background-color: #eee;
		margin-bottom: 20px;
		cursor: pointer;
		position: relative;
		padding: 15px;
	}	
	#content #content-content .adminFormAggiungi .dropzoneImmagineProdotto:after {
    	content: 'Sposta qui l\'immagine da caricare';
		position: absolute;
		top: 40%;
		left: 0%;
		width: 100%;
		height: 5%;
		text-align: center;    	    	
	}		
	#content #content-content .adminFormAggiungi .dz-started.dropzoneImmagineProdotto:after {
		display: none;
	}	
	#content #content-content .adminFormAggiungi .dropzoneImmagineProdotto .dz-error-mark, #content #content-content .adminFormAggiungi .dropzoneImmagineProdotto .dz-error-message, #content #content-content .adminFormAggiungi .dropzoneImmagineProdotto .dz-success-mark{
		display: none;		
	}	
	#content #content-content .adminFormAggiungi .dropzoneImmagineProdotto .dz-remove{
		background-color: #DC483E;
		border: solid 1px #DC483E;
		height: 30px;		
		color: #FFF;
		text-transform: uppercase;		
		width: 7%;	
		cursor: pointer;
		text-decoration: none;
		font-size: 12px;
		padding: 5px;		
	}	
	#content #content-content .adminFormAggiungi .dropzoneImmagineProdotto .dz-image img{
		border-radius: 10px;
	}	
	
	
	#content #content-content .adminFormAggiungi #nomemetodoPagamento{
	
	width: 100%;
    margin-bottom: 20px;
	}
	
	#content #content-content .adminFormAggiungi #descrizionemetodoPagamento{
	width: 100%;
	margin-bottom: 20px;
	}
	
	#content #content-content .adminFormAggiungi #inContanti{
	width: 30%;
	margin-bottom: 20px;
	}
		
		
	#modalContatti{
		display: none;
		height: 50%;
		width: 80%;
		left: 10%;
		top: 10%;
		overflow: hidden;
		position: fixed;
		z-index: 99999;
		background-color: #fff;
		opacity: 1;
		text-align: center;
		padding-top: 15%;
		border-radius: 20px;
		border: solid 4px #ffcc00;		
	}
	
	#modalContatti #modalContattiNav{
		position: absolute;
		left: 90%;
		width: 1%;
		top: 3%;
		cursor: pointer;
	}	
	#modalContatti #modalContattiBody{
		position: absolute;
		width: 100%;
		top: 8%;	
	}	
	#modalContatti #modalContattiBody h2{
		color: #276274;
	}
	#modalContatti #modalContattiBody textarea{	
		width: 84%;
		border: solid 1px #276274;
		border-radius: 15px;
		padding: 15px;
		height: 150px;
		margin-top: 20px;
	}
	
	#modalContatti #modalContattiBody .fieldContatto{
		width: 100%;
	}
		
		
	#content #content-content .adminFormAggiungi #nomeVettore{	
		width: 100%;
    	margin-bottom: 20px;
	}	
	#content #content-content .adminFormAggiungi #descrizioneVettore{
		width: 100%;
		margin-bottom: 20px;
	}
	#content #content-content .adminFormAggiungi #costoVettore{
		width: 100%;
		margin-bottom: 20px;
	}	
	#content #content-content .adminFormAggiungi #contrassegnoVettore{
		width: 100%;
		margin-bottom: 20px; 	
	}
	
	#content #content-content .adminFormAggiungi #nomeStato{	
		width: 100%;    	
	}	
	#content #content-content .adminFormAggiungi #ordineAnnullabileStato{
		width: 100%;		
	}
	#content #content-content .adminFormAggiungi #primoStato{
		width: 100%;		
	}		
		
		
		
		
		
		
	/************************************************************/
	/****************PAGINA IMPOSTAZIONI ADMIN  *****************/
	/************************************************************/	
	#content #content-content #formImpostazioniAdmin{
		border: solid 2px green;		
		border-radius: 15px;	
		padding: 10px;	
	}	
	
	#content #content-content #formImpostazioniAdmin .campoForm{
		width: 100%;
	}		
	
	#content #content-content #formImpostazioniAdmin .campoForm[readonly]{
		border: 0px;
	}			

	#content #content-content #formImpostazioniAdmin .submitForm{		
		width: 100%;
		margin-top: 15px;
		height: 40px;		
		background-color: #ffcc00;		
		border: 0;		
		color: #276274;
		font-weight: bold;
		cursor: pointer;			
	}		
	#content #content-content #formImpostazioniAdmin .submitForm{		
		width: 100%;
		margin-top: 15px;
		height: 40px;		
		background-color: green;		
		border: 0;		
		color: white;
		font-weight: bold;
		cursor: pointer;			
	}		
	#content #content-content .userButtonRegistraAdmin, #content #content-content .userButtonDisattivaAdmin{	
		background-color: green;
		border: solid 1px green;
		height: 40px;		
		color: #FFF;
		text-transform: uppercase;				
		width: 100%;	
		cursor: pointer;
		margin-top: 10px;
	}		
		
		
	/************************************************************/
	/****************PAGINA IMPOSTAZIONI USER   *****************/
	/************************************************************/	
	#content #content-content #formImpostazioniUser{
		border: solid 2px green;		
		border-radius: 15px;	
		padding: 10px;	
	}	
	
	#content #content-content #formImpostazioniUser .campoForm{
		width: 100%;
	}		
	
	#content #content-content #formImpostazioniUser .campoForm[readonly]{
		border: 0px;
	}			

	#content #content-content #formImpostazioniUser .submitForm{		
		width: 100%;
		margin-top: 15px;
		height: 40px;		
		background-color: green;		
		border: 0;		
		color: white;
		font-weight: bold;
		cursor: pointer;			
	}	
	#content #content-content .formIndirizzo{
		border: solid 2px green;		
		border-radius: 15px;	
		padding: 10px;	
		margin-top: 20px;
		height: 285px;
		width: 93.5%;
	}	
	
	#content #content-content .formIndirizzo .campoForm{
		width: 100%;
	}		

	#content #content-content .formIndirizzo .submitForm{		
		width: 100%;
		margin-top: 15px;
		height: 40px;		
		background-color: #ffcc00;		
		border: 0;		
		color: #276274;
		font-weight: bold;
		cursor: pointer;			
	}	
	
	#content #content-content .formIndirizzo .eliminaIndirizzo{		
		color: #DC483E;
		cursor: pointer;
	}
	
	#content #content-content .addIndirizzo{
		display: table;
	}
	
	#content #content-content .formIndirizzo .aggiungiIndirizzo{		
		display: table-cell;
		color: green;
		cursor: pointer;
		width: 100%;	
		height: 100%;		
		text-align: center;		
		font-size: 50px;			
		vertical-align: middle;			
	}					
	
	#content #content-content .formIndirizzo p{
		overflow-y: auto;
	}

	#content #content-content .formIndirizzo .note{
		height: 40px;
	}		
	
	#content #content-content .formIndirizzo .nomeCognome, #content #content-content .formIndirizzo .indirizzo, #content #content-content .formIndirizzo .capCittaProvincia, #content #content-content .formIndirizzo .telefono, #content #content-content .formIndirizzo .cellulare{
		height: 25px;
	}		

	#content #content-content .userFormAggiungi{
		border: solid 1px #ffcc00;
		border-radius: 5px;
		margin-top: 10px;
		padding: 10px;
	}
	
	#content #content-content .userFormAggiungi .adminFormField{
		border: 0;
		height: 30px;	
		border: solid 1px #276274;
		margin-left: 0;	
		margin-top: 10px;
	}
	
	#content #content-content .userFormAggiungi .adminButtonConfermaAggiungi{	
		background-color: #276274;
		border: solid 1px #276274;
		height: 30px;		
		color: #FFF;
		text-transform: uppercase;		
		margin-left: 0;
		width: 101%;	
		cursor: pointer;
		margin-top: 10px;	
	}

	#content #content-content .userFormAggiungi #nomeIndirizzo, #content #content-content .userFormAggiungi #cognomeIndirizzo, #content #content-content .userFormAggiungi #indirizzoIndirizzo, #content #content-content .userFormAggiungi #capIndirizzo, #content #content-content .userFormAggiungi #cittaIndirizzo, #content #content-content .userFormAggiungi #provinciaIndirizzo, #content #content-content .userFormAggiungi #telefonoIndirizzo, #content #content-content .userFormAggiungi #cellulareIndirizzo{
		width: 100%;
		margin-bottom: 10px;
	}
		
	#content #content-content .userFormAggiungi #noteIndirizzo{
		width: 100%;
		height: 70px;		
		margin-bottom: 10px;		
	}

	/************************************************************/
	/****************PAGINA CATEGORIA PRODOTTO  *****************/
	/************************************************************/	
	#content .categoriaProdotto{
		padding: 1%;
		padding-top: 10px;
		float: none;
		margin: 0 auto;
	}
	#content .categoriaProdotto .product{
		width: 48%;
		display: inline-block;
		margin-bottom: 3.3%;
		border: solid 1px #777;
		border-radius: 5px;
		cursor: pointer;
		margin-left: 1%;
	}	
	
	#content .categoriaProdotto .product .product-image{
		height: 120px;
		padding: 10px;
		background-color: #eee; 
		border-radius: 5px;
	}
	#content .categoriaProdotto .product .product-image img{
		width: 100%;
		height: auto;
		max-height: 230px;
		vertical-align: top; 	
	}
	#content .categoriaProdotto .product .product-title{
		height: 25px;
		text-align: center;
		padding-top: 5px;
		background-color: green;	
		color: #FFF;	
	}
	#content .categoriaProdotto .product .product-price{	
		height: 25px;
		text-align: center;
		font-weight: bold;	
		color: green;
	}
	#content .categoriaProdotto .product .product-button{	
		height: 40px;
		text-align: center;
		background-color: #ffcc00;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;	
		font-size: 12px;
	}

	#content .categoriaProdotto .product .product-button a{
		line-height: 36px;
		color: #fff;
		text-decoration: none;	
		color: #276274;
		font-weight: bold;
	}
		
		
		
	/************************************************************/
	/**************** PAGINA CARRELLO PRODOTTO  *****************/
	/************************************************************/	
	#content #content-content #carrelloTable #bodyCarrello i.fa-minus{
		cursor: pointer; 		
		background-color:#eee; 
		border-radius: 15px;
		padding: 5px;	
		color: #DC483E;
	}
	#content #content-content #carrelloTable #bodyCarrello i.fa-plus{
		cursor: pointer; 		
		background-color:#eee; 
		border-radius: 15px;
		padding: 5px;	
		color: #00cc00;
	}	
	#content #content-content .userButtonCheckout{	
		background-color: #276274;
		border: solid 1px #276274;
		height: 40px;		
		color: #FFF;
		text-transform: uppercase;				
		width: 100%;	
		cursor: pointer;
		margin-top: 30px;
	}


	/************************************************************/
	/**************** PAGINA DETTAGLIO PRODOTTO *****************/
	/************************************************************/	
	#content #content-content .dettaglioProdotto{
		margin-top: 10px;
	}
	#content #content-content .dettaglioProdotto .left, #content #content-content .dettaglioProdotto .right{
		padding: 1%;
		width: 98%;
	}	
	#content #content-content .dettaglioProdotto .left img{
		width: 30%;
		height: auto;
		margin-left: 2.5%;
		border-radius: 10px;
		max-height: 120px;		
		cursor: pointer;
	}
	#content #content-content .dettaglioProdotto .left img:first-child{
		width: 100%;
		height: auto;
		margin-left: 0;
		max-height: initial;
	}	
	#content #content-content .dettaglioProdotto .right .nomeProdotto{
		font-size: 30px;
		font-weight: bold;
		color: #276274;	
		text-align: left;
		margin: 0;		
	}
	#content #content-content .dettaglioProdotto .right .categoriaProdotto{
		font-size: 12px;
		font-weight: bold;
		color: #276274;	
		text-align: left;
		margin: 0;		
	}
	#content #content-content .dettaglioProdotto .right .prezzoProdotto{
		text-align: left;	
	}
	#content #content-content .dettaglioProdotto .right .descrizioneAbbreviataProdotto{
		text-align: left;
		height: 120px;	
		overflow-y: auto;
	}
	#content #content-content .dettaglioProdotto .right .descrizioneProdotto{
		text-align: left;
		height: 300px;	
		overflow-y: auto;
	}
	#content #content-content .userButtonAggiungiAlCarrello{	
		background-color: #276274;
		border: solid 1px #276274;
		height: 40px;		
		color: #FFF;
		text-transform: uppercase;				
		width: 100%;	
		cursor: pointer;
	}
	#modalImmagini{
		display: none;
		height: 50%;
		width: 80%;
		left: 10%;
		top: 10%;
		overflow: hidden;
		position: fixed;
		z-index: 99999;
		background-color: #fff;
		opacity: 1;
		text-align: center;
		padding-top: 15%;
		border-radius: 20px;
		border: solid 4px #ffcc00;		
	}
	
	#modalImmagini #modalImmaginiNav{
		position: absolute;
		left: 90%;
		width: 1%;
		top: 3%;
		cursor: pointer;
	}	
	#modalImmagini #modalImmaginiBody{
		position: absolute;
		width: 100%;
		top: 8%;	
	}	
	#modalImmagini #modalImmaginiBody img{
		max-width: 85%;
		margin-top: 5%;
	}		
		
		
	/************************************************************/
	/******************* PAGINA REGISTRATI  *********************/
	/************************************************************/	
	#content #content-content .userButtonRegistrati{	
		background-color: green;
		border: solid 1px green;
		height: 40px;		
		color: #FFF;
		text-transform: uppercase;				
		width: 50%;	
		cursor: pointer;
		margin-top: 10px;
	}		
	#content #content-content #formRegistrati{
		border: solid 2px green;		
		border-radius: 15px;	
		padding: 10px;	
	}	
	
	#content #content-content #formRegistrati .campoForm{
		width: 100%;
	}		

	#content #content-content #formRegistrati .submitForm{		
		margin-top: 15px;
		height: 40px;		
		background-color: green;		
		border: 0;		
		color: white;
		font-weight: bold;
		cursor: pointer;			
	}	
	


	/************************************************************/
	/*******************   PAGINA CHECKOUT  *********************/
	/************************************************************/		
	#content #content-content #checkoutPage #userButtonConcludiOrdine{	
		background-color: #276274;
		border: solid 1px #276274;
		height: 40px;		
		color: #FFF;
		text-transform: uppercase;				
		width: 100%;	
		cursor: pointer;
		margin-top: 30px;
	}
	#content #content-content #checkoutPage .left, #content #content-content #checkoutPage .right{
		width: 98%;
		padding: 1%;
	}
	#content #content-content #checkoutPage .left p, #content #content-content #checkoutPage .right p{
		color: #276274;		
	}
	#content #content-content #checkoutPage .left p:first-child, #content #content-content #checkoutPage .right p:first-child{
		font-weight: bold;	
	}
	#content #content-content #checkoutPage #checkoutTable{
		margin-bottom: 20px;
	}	
	#content #content-content #checkoutPage .checkoutFormField{
		height: 30px;	
		border: solid 1px #276274;
		margin-left: 1%;	
	}	
	#content #content-content #checkoutPage #fatturazioneCheckout, #content #content-content #checkoutPage #spedizioneCheckout, #content #content-content #checkoutPage #vettoreCheckout, #content #content-content #checkoutPage #metodoPagamentoCheckout{
		width: 100%;
		height: 50px;
	}
	


	/************************************************************/
	/******************* PAGINA CONFERMA ORDINE  ****************/
	/************************************************************/			
	#content #content-content #confermaOrdinePage #userButtonConcludiOrdine{	
		background-color: #276274;
		border: solid 1px #276274;
		height: 40px;		
		color: #FFF;
		text-transform: uppercase;				
		width: 20%;	
		cursor: pointer;
		margin-top: 30px;
		margin-left: 40%;	
	}	
	#content #content-content #confermaOrdinePage .left, #content #content-content #confermaOrdinePage .right{
		width: 98%;
		padding: 1%;
	}
	#content #content-content #confermaOrdinePage p, #content #content-content #confermaOrdinePage p{
		color: #276274;		
	}
	#content #content-content #confermaOrdinePage .left p:first-child, #content #content-content #confermaOrdinePage .right p:first-child{
		font-weight: bold;	
	}
	#content #content-content #confermaOrdinePage #confermaOrdineTable{
		margin-bottom: 20px;
	}
	#content #content-content #confermaOrdinePage .checkoutFormField{
		height: 30px;	
		border: solid 1px #276274;
		margin-left: 1%;	
	}	
	#content #content-content #confermaOrdinePage #fatturazioneCheckout, #content #content-content #confermaOrdinePage #spedizioneCheckout, #content #content-content #confermaOrdinePage #vettoreCheckout, #content #content-content #confermaOrdinePage #metodoPagamentoCheckout{
		width: 100%;
		height: 50px;
	}
	
	
	
	/************************************************************/
	/*******************   PAGINA ORDINI USER    ****************/
	/************************************************************/			
	#content #content-content .userBodyDataTable tr td i.eliminaOrdine{
		color: #DC483E;
	}
	#content #content-content .userBodyDataTable tr td i.dettaglioOrdine{
		color: #000;
	}
	#modalDettaglioOrdine{
		display: none;
		height: 75%;
		width: 80%;
		left: 10%;
		top: 10%;
		overflow: hidden;
		position: fixed;
		z-index: 99999;
		background-color: #fff;
		opacity: 1;
		text-align: center;
		padding-top: 15%;
		border-radius: 20px;
		border: solid 4px #ffcc00;		
	}
	
	#modalDettaglioOrdine #modalDettaglioOrdineNav{
		position: absolute;
		left: 90%;
		width: 1%;
		top: 3%;
		cursor: pointer;
	}	
	#modalDettaglioOrdine #modalDettaglioOrdineBody{
		position: absolute;
		width: 100%;
		top: 10%;
		overflow-x: auto;
		height: 86%;		
	}	
	#content #content-content #dettaglioOrdine .left, #content #content-content #dettaglioOrdine .right{
		width: 100%;
		padding: 1%;
	}
	#content #content-content #dettaglioOrdine p, #content #content-content #dettaglioOrdine p{
		color: #276274;		
	}
	#content #content-content #dettaglioOrdine .left p:first-child, #content #content-content #dettaglioOrdine .right p:first-child{
		font-weight: bold;	
	}
	#content #content-content #dettaglioOrdine p.totaleOrdine{
		color: #000;		
	}
	
	

	/************************************************************/
	/*******************   PAGINA ORDINI ADMIN    ****************/
	/************************************************************/			
	#content #content-content .adminBodyDataTable tr td i.eliminaOrdine{
		color: #DC483E;
	}
	#content #content-content .adminBodyDataTable tr td i.dettaglioOrdine, #content #content-content .adminBodyDataTable tr td i.modificaStatoOrdine{
		color: #000;
	}
	#modalDettaglioOrdine #modalDettaglioOrdineBody .adminFormField{
		border: 0;
		height: 30px;	
		border: solid 1px #276274;
		width: 90%;	
	}
	
	#modalDettaglioOrdine #modalDettaglioOrdineBody .adminButtonConfermaAggiungi{	
		background-color: #276274;
		border: solid 1px #276274;
		height: 30px;		
		color: #FFF;
		text-transform: uppercase;		
		width: 90%;	
		cursor: pointer;	
		margin-top: 20px;
	}

	
		
}